<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery-jsonrpc/jquery.jsonrpc.js') }}"></script>
  </head>
  <body>
      <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script type="text/javascript" src="http://localhost:9000/skewer"></script>
  </body>
</html>
